* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #242424;
  color: white;
}

ul {
  padding: 0;
  list-style-position: inside;
}